/*
*{margin: 0;
    padding: 0;
}
body{font-family: sans-serif;
  min-width: 600px;
    background-color: #eaeaeb;
}
nav{background-color: #364699;
  position: fixed;
}
#mobilenav{display: none;
}
#dropdown{
}

#pcnav{display: grid;
    grid-template-columns: repeat(12,1fr);
}
#pcnav a:not(.navimg){text-decoration: none;
    background-color: #364699;
    color:#eaeaea;
    width: 100%;
    padding: 12px 0;
    text-align: center;
    min-width: 75px;
}
#pcnav a:hover{background-color: #4050A3;
}
#pcnav a:not(.navimg):active{background-color: white;
    color: #222222;
}
#pcnav div{grid-column: span 6;}

.navimg img{
  width: 100%;
  min-width: 100px;
  padding: 0;
}
.navimg:hover{filter: brightness(125%);
}
  #dropcontent{
    display: none;
  }
  #dropdown:enabled #dropcontent{
    display: block;
  }
  #dropcontent a{
    text-decoration: none;
    display: block;
    color: white;
    font-size: 4vw;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive div {
    float: none;
    display: block;
    text-align: left;
  }
  .mobilenav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  background-color: #eaeaeb;
}

/*nav*/
.topnav{
  background-color:#364699;
  overflow: hidden;
  position: fixed;
  width: 100%;
}
.topnav a {
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 20px;
  display: block;
  float: left;
  min-width: 100px;
}
.topnav #navimg{
  padding: 0;
}
.topnav #navimg img{
  width: 100px;
}
.topnav .active:not(#navimg){
  background-color: #5666b9;
}
.topnav .icon{
  display: none;
}
.topnav a:hover:not(#navimg){
  background-color: #4050A3;
}
.topnav a:active{
  background-color: white;
  color: #222222;
}
.topnav .right{
  float: right;
}
@media screen and (orientation:portrait) {
  .topnav a:not(:first-child){
    display: none;
  }
  .topnav #navimg{
    display: block;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* Main*/
.paralaks {
  height: 100vh;
  background: url("bilder/Hovedbilde.jpg") no-repeat fixed center;
  background-size: cover;
}
main h1{background-color:#33363b;
  color: white;
  text-align: center;
  padding: 60px;
}
.innledning{padding: 50px;
  background-color: white;
}
h2{text-align: center;
}
#mellomrom{
  height: 100vh;
  background: url("bilder/penger.jpg") no-repeat fixed center;
  background-size: cover;
}
